html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ===============
Navbar
================*/

nav {
  position: fixed;
  min-height: 40px;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  top: 0;
  background-color: white;
  
}

nav img {
  height: 13px;
  padding: 10px;
}


.navigation-items > * {
  display: inline-block;
  margin-left: 10px;
}

.category {
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  /* I feel like there should be something like "vertical-align" that would do this better */
  vertical-align: middle;
  height: 40px;
}

/* ==========
Main Content
============ */

.main {
  position: relative;
  top: 80px;
}


.article-content {
  max-width: 500px;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
}

.article-content h3 {
  font-weight: 700;
  padding: 15px 0 15px 0;
}

/* ==========
Main Title
============ */

.title {
  max-width: 500px;
  margin: auto;
}

.title-text {
  
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.icon-strip {
  margin-top: 15px;
}

.icons {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.icons:hover {
  background-color: white;
  cursor: pointer;
}

/* ==========
Hero Image
============ */

.hero {
  position: relative;
  top: 20px;
  display: block;
  width: 800px;
  margin: auto;
}

.hero img {
  width: 800px;
  
}

.hero figcaption {
  width: 700px;
  margin-bottom: 50px;
  color: rgb(97, 93, 93);
}

.hero figcaption span {
  color: gray;
  font-size: 15px;
}



/*===================
Subscribe blurb, which interrupts the article
=======================*/


.subscribe-interruption {
  padding: 50px;
}

.border {
  border-bottom: 1px solid lightgray;
  width: 70px;
  margin: auto;
}

.subscribe-text {
  padding: 20px;
  font-weight: 700;
  text-align: center;
}

.subscribe-text a {
  text-decoration: none;
}
.subscribe-text a:hover {
  text-decoration: underline;
}

/* ==========================
Second sub-article, with title
=============================*/

.second-title {
  max-width: 100px;
  margin: auto;
}